<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM后台管理系统</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <!--[if lt IE 9]>
    <script src="../static/lib/html5shiv/html5shiv.js"></script>
    <script src="../static/lib/respond/respond.min.js"></script>
    <![endif]-->
    <!--plug css-->
    <link rel="stylesheet" href="../static/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/lib/fontawesome/font-awesome.min.css"/>
    <!--custom css-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!--aside nav-->
<div class=""></div>
<div>
    <!--top nav-->
    <div></div>
    <!--content-->
    <div></div>
</div>

<!--plug js-->
<script src="../static/lib/jquery/jquery.min.js"></script>
<!--custom js-->
<script src="../static/js/main.js"></script>
</body>
</html>